<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('./header.ejs'); %>
    <div class="content brand-form-page">
      <h1 id="brand-form-title">New Brand Info:</h1>
      <form action="" method="POST" class="category-firm" enctype="multipart/form-data">
        <label for="brand-form-name">Brand Name:</label>
        <input 
          type="text" 
          id="brand-form-name" 
          name="brand-form-name" 
          required="true"
        >
        <label for="brand-form-image">Brand Image:</label>
        <input type="file" id="brand-form-image" name="brand-form-image">
        <button id="brand-form-submit" type="submit">Add!</button>
      </form>
    </div>
  </body>
</html>
