<nav class="navbar">
  <a href="/" id="home-link">Ball Shoes Locker</a>
  <ul class="route-links">
    <li>
      <a href="/brand" id="all-brand-link">Brands</a>
    </li>
    <li>
      <a href="/shoes" id="all-item-link">All Shoes</a>
    </li>
  </ul>
</nav>